<h1>Finalcourses#new</h1>
<p>Find me in app/views/finalcourses/new.html.erb</p>

<%= form_for(@finalcourse) do |f| %>
	
	<div class="field">
	        <%= f.label :title %><br />
	        <%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label "Media URL or Embed Code" %><br />
		<%= f.text_field :video %>
		
		</div>
		
		<div class="actions">
		        <%= f.submit "Create Final Course" %>
		        </div>
		<% end %>
