<div class="fields"><p>
	<%= f.label :Chapter, "Module Title"%>
	<%= f.text_field :chapter %>
	<a class="remove-fields" href="#">remove</a>
<%#<%= link_to_remove_fields "remove", f %>
	</p>
<p>
 <%= f.label :media_url, "Module Media Url" %><br />
  <%= f.text_area :media_url, :rows => 3 %><br />
</p>
</div>
