<h1>
<%= @course.title %>
</h1>

<br />
<p></p>
<p></p>

<%#<% if @course.purchased? %>
<%#<% if current_user = @course.user_id %>
<% if @course.accessible_by_user?(current_user) %>


</p>
<% for video in @course.videos %>
<p><strong><%=h video.chapter %></strong></p>
<p><%=h video.media_url.html_safe %></p>
</p>
<% end %>
<% else %>
<p><strong>Description:</strong> <%= @course.description %></p><br />

<p><strong>Preview: </strong></p>
<%= @course.media_url.html_safe %><br />
<br />
<p><strong>Cost:</strong> $<%= @course.cost/100 %></p>



<%= link_to "Order This Course", new_course_order_path(@course) %>


<% end %>
