<h1>
<%= @course.title %>
</h1>

<br />
<p></p>
<p></p>

<%#<% if @course.purchased? %>
<%#<% if current_user = @course.user_id %>
<% if @course.accessible_by_user?(current_user) %>


<ol>
<% for video in @course.videos %>
<%=h video.media_url.html_safe %>
</ol>
<% end %>
<% else %>
<p>Description: <%= @course.description %></p><br />

<p> Preview: </p>
<%= @course.media_url.html_safe %><br />
<br />
<p> Cost: $<%= @course.cost %></p>



<li><%= link_to "Purchase Now", :controller => :orders, :action => :new %></li>
<% end %>
