<!DOCTYPE html>
<html>
<head>
  <title>Nuvola Academy | <%= @title %></title>
  <%= stylesheet_link_tag 'stylesheets/blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'stylesheets/blueprint/print', :media => 'print' %> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "custom", :media => 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<header>
				<%= image_tag("images/new_header.png", :alt => "Sample App", :class => "round") %>
				<nav class="round">
					<u1>
						<li><%= link_to "Home", root_path  %></li>
						<li><%= link_to "About Us", about_path %></li>
						<li><%= link_to "Classes", classes_path %></li>
						<li><%= link_to "Communities", communities_path %></li>
						<li><%= link_to "Trending", trending_path %></li>	
						<li><%= link_to "Contact Us", contact_path %></li>
						<li><%= link_to "Sign In", '#' %></li>
						</u1>
				</nav>
				</header>
				<section class="round">			
		<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
		

